
.idea
docs/_build/

*.pyc

*.doctree

.hypothesis/

experimental/.ipynb_checkpoints/*
experimental/Blessed_fullscreen_editor.py

*.js

*.html

*.html

*.css

.cache/v/cache/lastfailed

experimental/Untitled.ipynb

experimental/wit_key
